*/bin/*
*/gen/*
.metadata
.DS_Store
out
.settings
proguard_logs
UserVoiceSDK/.classpath
UserVoiceSDK/.project
*/build/*
.gradle
build
local.properties

# Intellij project files
*.iml
*.ipr
*.iws
.idea/
